.container {
  background-color: white;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 30px;

  .title {
    color: darkgreen;
    padding: 20px 0 0 0;
    text-align: center;
  }

  .noPosts {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: black;
  }
}

.mat-mdc-form-field {
  display: block;
}
