<div class="container">
  <ng-container *ngIf="(posts$ | async)?.length !== 0; else noPosts">
    <div class="title">
      <h1>Posts</h1>
    </div>
    <mat-form-field [appearance]="'outline'" class="example-full-width">
      <mat-label>Available posts for selecting</mat-label>
      <input type="text"  (input)="inputChanges($event)" matInput>
    </mat-form-field>
    <div *ngFor="let post of filteredPosts$ | async; let i = index" >
      <app-post
        [post]="post"
        (removePost)="triggerIfOutputDeletePost($event)"
        [titlePath]="'/post-page/' + post.id"
        [hiddenIcon]="hiddenIcon"
        [enableLink]="true"
        [showDeleteIcon]="showDeleteIconByAdmin()"
        (addReaction)="triggerIfOutputAddReaction($event)">
      </app-post>
    </div>
  </ng-container>

  <ng-template #noPosts>
    <p class="noPosts">Posts haven't added yet...</p>
  </ng-template>
</div>
