<div class="container-cards">
  <div routerLink='/create-post' class="card">
    <div class="title-card">
      <p><b>Create post</b></p>
      <p>Click to create new post</p>
    </div>
  </div>
  <div routerLink='/posts' class="card">
    <div class="title-card">
      <p><b>Posts</b></p>
      <p>Click to view existing posts</p>
    </div>
  </div>
  <div *ngIf="(user$ | async)?.role?.status === 'Admin'" routerLink='/user-list' class="card">
    <div class="title-card">
      <p><b>User-list</b></p>
      <p>Click for checking all users</p>
    </div>
  </div>
  <div routerLink='/settings' class="card">
    <div class="title-card">
      <p><b>Settings</b></p>
      <p>Click for checking your profile data</p>
    </div>
  </div>
</div>
