
<div class="user-details">
  <div class="title-about-me">
    <h1 class="title">About me</h1>
    <div (click)="editDetails()" class="example-button-container">
      <a mat-fab extended routerLink=".">
        <mat-icon class="edit-details">{{ hiddenEdit ? 'edit' : 'task_alt' }}</mat-icon>
        {{ hiddenEdit ? 'Edit' : 'Save'}}
      </a>
    </div>
  </div>
  <ng-container *ngIf="!hiddenEdit; else showText">
    <mat-form-field class="example-full-width">
      <mat-label>Text</mat-label>
      <textarea [formControl]="textControl" matInput wrap="hard"></textarea>
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end"> {{textLength}}/ 256</mat-hint>
    </mat-form-field>
  </ng-container>

  <ng-template #showText>
    <p class="word-break">{{ userDetails?.text ? userDetails?.text : 'Your text haven`t written yet'}}</p>
  </ng-template>
</div>
