<div class="post">
  <div class="block-title">
    <div class="title">
      <p [routerLink]='enableLink ? titlePath : null' [class.clickable]="enableLink"  class="title-text">{{post?.title}}</p>
    </div>
    <div class="remove-post">
      <div class="icons">
      <mat-icon *ngIf="showDeleteIcon" (click)="deletePost(post?.id)" class="remove-icon">delete</mat-icon>
      <ng-container  *ngIf="showEditIcon">
        <mat-icon  (click)="navigateToEditPost(post?.id)" *ngIf="hiddenIcon" class="edit-icon">edit</mat-icon>
      </ng-container>
      </div>
      <div class="date">
        <p>{{post?.createdAt | date:'MM/dd/yy'}}</p>
      </div>
    </div>
  </div>
  <div class="content">
    <p>{{post?.content}}</p>
  </div>
  <div class="block-category">
    <div class="category">
      <p>{{post?.category}}</p>
    </div>
    <div class="create">
      <p>{{post?.anonymousUser ? 'anonymous' : post?.author?.name}}</p>
      <ng-container *ngIf="!showReaction; else showAmountReactions">
        <div class="reaction">
          <mat-icon (click)="onReact(post, reactionEnum.Like)" class="thumb-up">thumb_up</mat-icon>
          <mat-icon (click)="onReact(post, reactionEnum.Dislike)" class="thumb-down">thumb_down</mat-icon>
        </div>
      </ng-container>
      <ng-template #showAmountReactions>
        <div class="reaction">
          <span>likes: {{ getLikesCount() }}</span>
          <span class="dislikes">dislikes: {{ getDislikesCount() }}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
