.post {
  background-color: white;
  margin: 40px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 20px;

  .block-title {
    display: flex;
    justify-content: space-between;
  }

  .title-text {
    font-size: 24px;
    color: aqua;
  }

  .clickable {
    cursor: pointer;
  }

  .clickable:hover {
    color: greenyellow;
  }

  .remove-post {


    p {
      margin: 10px 0 0 0;
      color: gray;
    }

    .remove-icon {
      cursor: pointer;
      color: #9d0606;
      margin-left: 40px;

       &:hover {
         color: red;
       }
    }

    .edit-icon {
      color: #605f5f;

      &:hover {
        color: #2D2D2DFF;
        cursor: pointer;
      }
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }

  .content {
    width: 100%;
    margin: 30px auto;
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;

    p {
      padding:  10px 0;
      max-width: 500px;
      margin: 0;
    }
  }

  .block-category {
    display: flex;
    justify-content: space-between;


    .category {
      color: gray;
    }

    .create {

      p {
        color: gray;
      }
    }

    .reaction {
      display: flex;

      .thumb-down {
        margin-left: 15px;
      }

      .thumb-down {
        color: red;
        cursor: pointer;

        &:hover {
          color: #d90c0c;
        }
      }

      .thumb-up {
        color: greenyellow;
        cursor: pointer;

          &:hover {
            color: #82cc0f;
          }
      }
    }
  }
}

@media (max-width: 768px) {

  .post {

    .remove-post {
      padding: 0;
    }

    .remove-icon {
      margin: 0;
    }
  }
}
