<div class="sign-up">
  <div class="title">
    <h1>Get Started Today!</h1>
  </div>

  <form class="d-flex flex-column gap-16">
    <mat-form-field [appearance]="'outline'">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Write your email...">
    </mat-form-field>
    <mat-form-field [appearance]="'outline'">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Write your password...">
    </mat-form-field>
  </form>

  <button mat-raised-button>Login</button>
</div>





